@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,700,900');

@font-face{
    font-family: "Bw Modelica SS02 Bold";
    src: url("../assets/fonts/BwModelicaSS02-BoldItalic.woff") format("woff")
}

@font-face{
    font-family: "Bw Modelica SS02 Light";
    src: url("../assets/fonts/BwModelicaSS02-LightItalic.woff") format("woff")
}

@font-face{
    font-family: "Bw Modelica SS02 Medium";
    src: url("../assets/fonts/BwModelicaSS02-MediumItalic.woff") format("woff");
}
@font-face{
    font-family: "Bw Modelica SS02";
    src: url("../assets/fonts/BwModelicaSS02-RegularItalic.woff") format("woff");
}




body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background: rgb(0,0,0);
/*background: -moz-linear-gradient(90deg, rgba(123,16,4,0.9766281512605042) 18%, rgba(241,170,24,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(123,16,4,0.9766281512605042) 18%, rgba(241,170,24,1) 100%);
background: linear-gradient(90deg, rgba(123,16,4,0.9766281512605042) 18%, rgba(241,170,24,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b1004",endColorstr="#f1aa18",GradientType=1);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.qoute{
    font-family: "Bw Modelica SS02 Medium";
    margin-top: 15px;
    font-size: 30px
}

.qoute-mention{
    font-family: "Bw Modelica SS02 light";
    float: right;
    font-size: 15px;
}


.control {
	font-size: 15px;
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
  padding-left: 30px;
  margin-left: 10px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
  background: transparent;
  border: 1px solid #6e6b6b;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
.control--checkbox .control__indicator {
	border-radius: 3px;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #FDB913;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #FDB913;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #FDB913;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 4px;
	height: 9px;
	transform: rotate(45deg);
	border: solid #fff;
    border-width: 0 2px 2px 0;

}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	
  margin: 1.3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
  background: #FDB913;
  border: 2px solid #000000
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

.remember-me{
    font-size: 12px;
    color: #FDB913
}

.social-icon{
    font-size:20px;
    color:#817F7F;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: #FDB913;
    text-decoration: none;
}

a:active{
    color: #FFFFFF;
    text-decoration: none;
}

.navigation{
    background-color: #06030A;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.about-header{
    background: url('../img/about-us-title-groove.jpg');
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.corp-header{
    background: url('../img/corporate-us-title-groove.jpg');
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.partners-header{
    background: url('../img/partners-us-title-groove.jpg');
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-header{
    background: url('../img/about-us-title-groove-6.jpg');
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    margin-left:100px;
}
.logo img{
    width: 200px;
}

#signUp{
    color: #FDB913;
}

#signIn{
    color: #ED1651;
}

#login-signup{
    color: #FDB913;
}
#login-reset{
    color: #FDB913;
}

span{
    color: #FDB913;
}

.navbar{
    width: 100%;
}
.navbar-nav {
    flex-direction: row;
    margin-right: 100px;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #ED1651;
    border-right: 1px solid #ED1651;
}

.alpha{
    background: url('../assets/bg-main.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.carousel-indicators{
    bottom: 35px;
    justify-content: flex-end;
}

.carousel-caption{
    position: absolute;
    top: 210px;
    right: 50%;
    left: 60%;
    width: 500px;
    text-align: right;
}

.carousel-title{
    font-size: 56px;
    line-height: 1.3;
    font-family: 'Montserrat';
}
.carousel{
    background-size: cover;
}
.sign-up-back{
    background: url('../assets/login_bg.jpeg');
    background-size: cover;
    height: 93vh;
    border: none;
}
.sign-in-back{
    background: url('../assets/login_bg.jpeg');
    background-size: cover;
    height: 93vh;
    border: none;
}



.trial-btn2{
    background-color: #ED1651;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 60px;
    border-radius: 5px;
    right: 0;
    font-size: 12px;
    padding: 15px 25px;
}



.trial-btn2:hover{
 color: #FFFFFF;
 background-color: #06030A;
}


footer{
    background-color: #1C1B1B;
    color: #817F7F;
    height: auto;
}

.img-back{
    padding: 0px 0px !important;
}

.groove-section{
    background-color: rgb(0, 0, 0);
    color: #817F7F;
    height: auto;
}

.footer-container{
    padding: 5% 10%;
}

.footer-base{
    background-color: #000000;
    padding: 10% 5%;
}

.footer-links{
    margin-top: 20px;
    display: block;
    font-size: 12px;
    color: #817F7F;
    text-decoration: none;
    line-height: 2.5;
    font-weight: 300;
}

.legal-stuffs{
    margin-top: 50px;
    float: left;
    opacity: 0.6;
}
.legal-stuffs a{
    color: #817F7F;
    margin-right: 20px;
}

.copy-right{
    color: #817F7F;
    float: center;
    margin-top: 50px;
    margin-right: 80px;
    opacity: 0.6;
}

.column-header{
    color: #F2F0F0;
    text-transform: uppercase;
}

.trial-btn{
    background: rgb(255,157,0);
background: -moz-linear-gradient(150deg, rgba(255,157,0,1) 40%, rgba(255,196,0,1) 100%);
background: -webkit-linear-gradient(150deg, rgba(255,157,0,1) 40%, rgba(255,196,0,1) 100%);
background: linear-gradient(150deg, rgba(255,157,0,1) 40%, rgba(255,196,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9d00",endColorstr="#ffc400",GradientType=1);
    color: #FFFFFF;
    text-transform: inherit;
    font-weight: bold;
    border-radius: 0px;
    margin-top: 40px;
    right: 0;
    font-size: 14px;
    padding: 5px 25px;
}

.trial-btn:hover{
    color: #FFFFFF;
    background-color: #ED1651;
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    z-index: 10;
    background: rgb(11,7,16);
background: -moz-linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
background: -webkit-linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
background: linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0710",endColorstr="#0b0710",GradientType=1);
background-size: cover;
}

.mobile-overlay {
    position: absolute;
    width: 100%;
    height: 70vh;
    z-index: 1;
    background: rgb(114,11,39);
    background: -moz-linear-gradient(160deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    background: -webkit-linear-gradient(160deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    background: linear-gradient(160deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#720b27",endColorstr="#000000",GradientType=1);
    background-size: cover;
}
.login-overlay {
    position: absolute;
    width: 100%;
    height: 93vh;
    z-index: 1;
    background: rgb(0,0,0);
background: -moz-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
background: -webkit-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
background: linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
background-size: cover;
}
.signup-overlay {
    position: absolute;
    width: 100%;
    height: 93vh;
    z-index: 1;
    background: rgb(0,0,0);
background: -moz-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
background: -webkit-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
background: linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
background-size: cover;
}

.playlist-overlay{
    position: absolute;
    width: 100%;
    height: 65vh;
    z-index: 1;
    background: rgb(114,11,39);
    background: -moz-linear-gradient(320deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    background: -webkit-linear-gradient(320deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    background: linear-gradient(320deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#720b27",endColorstr="#000000",GradientType=1);
    background-size: cover;
}

.exclusive-overlay{
    position: absolute;
    width: 100%;
    height: 65vh;
    z-index: 1;
    background: rgb(114,11,39);
    background: -moz-linear-gradient(114deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 88%);
    background: -webkit-linear-gradient(114deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 88%);
    background: linear-gradient(114deg, rgba(114,11,39,0.4556197478991597) 35%, rgba(0,0,0,0.5032387955182073) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#720b27",endColorstr="#000000",GradientType=1);
    background-size: cover;
}
.slider-overlay{
    position: absolute;
    width: 100%;
    height: 101vh;
    z-index: 1;
    background: rgb(245,175,25);
background: -moz-linear-gradient(45deg, rgba(245,175,25,0.4472163865546218) 28%, rgba(123,16,4,0.4500175070028011) 72%);
background: -webkit-linear-gradient(45deg, rgba(245,175,25,0.4472163865546218) 28%, rgba(123,16,4,0.4500175070028011) 72%);
background: linear-gradient(45deg, rgba(245,175,25,0.4472163865546218) 28%, rgba(123,16,4,0.4500175070028011) 72%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5af19",endColorstr="#7b1004",GradientType=1);
    background-size: cover;
}
.top-hot-overlay{
    position: absolute;
    width: 100%;
    height: 101vh;
    z-index: 1;
    background: rgb(0,0,0);
background: -moz-linear-gradient(128deg, rgba(0,0,0,0.654499299719888) 45%, rgba(0,0,0,0.6516981792717087) 65%);
background: -webkit-linear-gradient(128deg, rgba(0,0,0,0.654499299719888) 45%, rgba(0,0,0,0.6516981792717087) 65%);
background: linear-gradient(128deg, rgba(0,0,0,0.654499299719888) 45%, rgba(0,0,0,0.6516981792717087) 65%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    background-size: cover;
}


.carousel-inner{
    height: 101vh;
    width: 100%;
}

.trial-text{
    margin-top: 40px;
    margin-right: 10px;
}
.so-much-image{
    float: right;
}

.slider-image{
    height: 101vh;
}

.section-slider{
    margin-top: -100px;
    height: 101vh;
}
.section-world{
    background: url('../img/world-nigeria.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    padding: 40px;
    width: 100%;
    height: 100vh;
}

.core-text{
    font-weight: bold;
    
}

.african-content{
    position: absolute;
    top: 170px;
    right: 50%;
    left: 70%;
    width: 500px;
    text-align: right;
}

.african-content-text{
    font-size: 30px;
    line-height: 1.3;
    font-family: 'Montserrat';
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
}

.africa-sub-content{
    font-family: 'Montserrat:300i';
    font-size: 20px;
    color: #FFFFFF;
    font-style: italic;
}

.page-title{
    margin: 100px auto;
    width: 630px;
    text-align: center;
}

.page-title-text{
    font-size: 43px;
    line-height: 1.3;
    font-family: 'Montserrat';
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0px;
}

.section-pink{
    background: url('../assets/uduX-Motif-Pattern.jpg'); 
    background-size: contain;
    margin: 0px;
    padding-top: 40px;
}

.premium-alpha{
    background: url('../assets/udux-photoshoot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
}



.top-hot{
    background: url('../assets/latest-hot-music.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
}

.lift-up{
    color: #FFFFFF;
    text-align: center;
    z-index: 3;
    position: relative;
}

.so-much-text{
    padding: 30px 0px;
    font-size: 55px;
}

.so-much-list span{
    color: #ED1651;
    font-weight: bold;
}

#benefits{
    line-height: 2.5em;
    list-style-image: url("../assets/benefits-tick.jpg");
    font-size: 16px;
}

.benefits-container{
    padding: 50px 0px;
}

.so-much-underline{
    height: 2px;
    width: 200px;
    margin: auto;
    border: 1px solid #ED1651;
    background-color: #ED1651;
    border-radius: 5px;
    margin-bottom: 20px;
}

.become-section{
    background-color: #F55143;
}

.work{
    padding: 100px 0px;
}

.work-text{
    color: #FFFFFF;
    padding: 10px 30px;
    width: 350px;
    margin-top: -85px;
    z-index: 1;
    position: relative;
}

.work-cp{
    background: url("../assets/work-cp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
.work-cp-2{
    background: url("../assets/manage-access.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
}

.give-room{
    padding: 0px 25px;
}

.cp-list{
    padding-top: 40px;
    border-bottom: solid 1px gray;
}

.artist-space{
    padding: 50px 0px;
}

.work-cp-overlay{
    position: relative;
    height: 30vh;
    width:100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(70deg, rgba(0, 0, 0, 0.466) 100%, rgba(0,0,0,0.466) 100%);
    background: -webkit-linear-gradient(70deg, rgba(0,0,0,0.466) 100%, rgba(0,0,0,0.466) 100%);
    background: linear-gradient(70deg, rgba(0,0,0,0.466) 100%, rgba(0,0,0,0.466) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    background-size: cover;
}

.artist-overlay{
    position: absolute;
    width: 100%;
    height: 33.1vh;
    background: rgb(236,21,80);
background: -moz-linear-gradient(105deg, rgba(236,21,80,1) 65%, rgba(245,81,67,0.458420868347339) 76%);
background: -webkit-linear-gradient(105deg, rgba(236,21,80,1) 65%, rgba(245,81,67,0.458420868347339) 76%);
background: linear-gradient(105deg, rgba(236,21,80,1) 65%, rgba(245,81,67,0.458420868347339) 76%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec1550",endColorstr="#f55143",GradientType=1);
}
.artist-section{
    background: url("../assets/artist-bg.svg");
    background-position: right;
    background-repeat: no-repeat;
    height: 33vh;
    background-size: cover;
}

.become-partner-container{
    padding: 100px 0px;
    color: #FFFFFF;
}

.music-app-section{
    padding: 100px 0px;
}

.ben-btn{
    background-color: #FDB913;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 0;
    right: 0;
    font-size: 12px;
    padding: 15px 25px;
}

.ben-btn:hover{
 color: #FFFFFF;
 background-color: #ED1651;
}

.bep-btn{
    background-color: #FDB913;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 0;
    right: 0;
    font-size: 12px;
    padding: 15px 25px;
}

.bep-btn:hover{
 color: #FFFFFF;
 background-color: #ED1651;
}
.cp-list-btn{
    background-color: #FDB913;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    right: 0;
    font-size: 12px;
    padding: 5px 25px;
}

.cp-list-btn:hover{
 color: #FFFFFF;
 background-color: #ED1651;
}

.amount{
    padding-top: 250px;
    font-size: 55px;
    font-weight: bolder;
}

.top-hot-text{
    width: 514px;
    padding-top: 100px;
    margin: auto;
    font-size: 16px;
}

.top-hot-start{
    padding-top:100px;
}

.experience{
    background: url('../assets/experience.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 100px;
}

.premium-container{
    position: absolute;
    top: 280px;
    right: 20%;
    left:   60%;
    width: 554px;
    text-align: center;
    color: #ffffff;
}

.premium-btn{
    background-color: #FDB913;
    color: #06030A;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    right: 0;
    font-size: 12px;
    padding: 10px 50px !important;
}

.premium-btn:hover{
    color: #FFFFFF;
    background-color: #ED1651;
}

.exp-btn{
    background-color: #ED1651;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 60px;
    border-radius: 30px;
    right: 0;
    font-size: 12px;
    padding: 10px 50px !important;
}

.exp-btn:hover{
 color: #FFFFFF;
 background-color: #06030A;
}

.magical-exp{
    margin-bottom: 40px;
}

.magical{
    margin-top: 0px;
    padding: 20px 0px;
}

.so-much-section{
    padding-top: 100px;
}

.go-down{
    margin: auto;
    display: block;
    padding: 50px 0px;
}

.card span{
    color: #EC1550;
}

.magical-text{
    text-align: right;
}
.discover-text{
    text-align: left;
}

.card{
    margin-bottom: 120px;
    border-radius: 0px;
    border: none;
}

.card-header{
    border: none;
    padding-bottom: 65px;
    background-color: transparent;
}

.card-body{
    padding: 40px !important;
    box-shadow: 2px 2px 80px rgba(11, 7, 16, 0.05);
    
}

.card-footer{
    background-color: #EC1550;
    border-radius: 0px !important;
}

.yellow-bg{
    display: flex;
    align-content: center;
    margin: 0 auto;
    background-image: url(../assets/artistGrid.png), linear-gradient( #FDB913, #FDB913 );width: 75%;
    max-height: 700px;
    border-radius: 13px;
    background-position: center center;
    padding: 20px 20px;
    margin-top: 25px;
    box-shadow: 0 0 30px 0px #0000001c;
}

.groove-title{
    padding: 105px 20px;
    color: #F2F0F0;
}

.groove-title1{
    padding: 100px 50px;
    color: #F2F0F0;
}

.groove-title1 p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
}
.groove-title2{
    padding: 50px 50px;
    color: #F2F0F0;
}

.groove-title2 p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
}
.groove-title p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.skateboard-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 0 !important;
}

.pink-bg{
    background: #ff004c;
    /* height: 100vh; */
    /* background-position: center center; */
    margin: 50px 150px;
    border-radius: 13px;
    padding: 80px 150px;
    max-height: 700px;
}


.section-mobile1{
    background: url('../assets/mobile.jpeg');
    background-size: cover;
    min-height: 70vh;
    margin-top: 10px;
}

.skateboards{
    width: 100%;
    overflow: hidden;
}

.music-freedom-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    color: #FFFFFF;
}

.music-freedom{
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.music-freedom-text{
    float: right;
} 

.music-skate{
    float: right;
    width: 70%;
}
.skate-text{
    z-index: 25;
    float: right;
    font-family: 'Bw Modelica SS02';
} 

.move-to-center{
    padding: auto 40px !important;
}

.africa{
    font-size: 90px;
    line-height: 0.8;
    
}

.africa-new{
    font-size: 50px;
    line-height: 0.8;
    font-family: 'Bw Modelica SS02 Light';
    color: #FFFFFF;
}

.africa-music{
    font-size: 85px;
    line-height: 0.8;
    letter-spacing: 3.5px;
    font-family: 'Bw Modelica SS02 Bold';
    color: #FFFFFF;
}

.africa-in{
    text-indent: 20px;
    font-family: 'Bw Modelica SS02 Light';
}

.for-love-container{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Bw Modelica SS02 Medium';
    font-style: italic;
    color: #FFFFFF
}

h1{
    font-family: 'Bw Modelica SS02 Bold';
}

.music-freedom-line{
    z-index: 25;
    background-color: #FFFFFF;
    width: 150px;
    height: 0.5px;
    border: 1px solid #FFFFFF;
}
.music-freedom-line1{
    z-index: 25;
    background-color: #FFFFFF;
    width: 150px;
    height: 0.5px;
    margin-right:0px;
    border: 1px solid #FFFFFF;
}

.for-love{
    z-index: 25;
    background-color: #ED1651;
    width: 150px;
    height: 0.5px;
    margin: 0 9px 18px;
    border: 1px solid #ED1651;
    float: left;
}

.playlist-container{
    color: #FFFFFF;
    display: block;
    float: left;
    margin-top: 170px;
    margin-left: 15%;
    text-align: left;
    width: 694px;
    z-index: 3;
    position: relative;
}
.exclusive-container{
    color: #FFFFFF;
    display: block;
    float: right;
    margin-top: 170px;
    margin-right: 15%;
    text-align: right;
    width: 694px;
    z-index: 3;
    position: relative;
}

.playlist-text{
    width: 514px;
}
.exclusive-text{
    width: 514px;
    display: block;
    position: relative;
    float: right;
}

.section-playist{
    background: url('../assets/playlist.jpeg');
    background-size: cover;
    min-height: 65vh;
    margin-top: 0px;
    position: relative;
}

.section-exclusive{
    background: url('../assets/exclusive-bg.jpg');
    background-size: cover;
    height: 65vh;
    margin-top: 0px;
    position: relative;
}
.section-download{
    background: url('../assets/download-back.png');
    background-size: cover;
    min-height: 100vh;
    margin-top: 0px;
    position: relative;
    padding: 20% 20%;
}

.download-logo{
    margin-top: 50px;
    color: #FFFFFF;
}

.download-text{
    margin-top: 40px;
    font-size: 21px;
    color: #FFFFFF;
}

.mobile1-container{
    color: #FFFFFF;
    display: block;
    float: right;
    margin-top: 150px;
    margin-right: 15%;
    text-align: right;
    width: 520px;
    z-index: 3;
    position: relative;
}

.mobile1-text{
    font-size: 26px;
    line-height: 1;
    font-weight: lighter;
}

.trial-btn3{
    background-color: transparent;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    margin-top: 30px;
    right: 0;
    font-size: 12px;
    padding: 15px;
    /* width: 430px; */
}

.content-pad{
    padding: 20px;
}

.cp-signup{
    background: url("../assets/bg-cp.svg");
    background-position: top;
    background-size: cover;
    height: 50vh;
}

.cp-signup-overlay{
    position: absolute;
    width: 100%;
    height: 50vh;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: -webkit-linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#FFFFFF",GradientType=1);
    background-size: cover;
}
.cp-list-sec{
    background: url("../assets/bg-cp.svg");
    background-position: top;
    background-size: cover;
    height: 25vh;
}

.cp-list-sec-overlay{
    position: absolute;
    width: 100%;
    height: 25vh;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: -webkit-linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: linear-gradient(70deg, rgba(255, 255, 255, 0.76) 100%, rgba(255, 255, 255, 0.664) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#FFFFFF",GradientType=1);
    background-size: cover;
}
.device-overlay{
    position: absolute;
    width: 100%;
    height: 70vh;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(70deg, rgba(255, 255, 255, 0.699) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: -webkit-linear-gradient(70deg, rgba(255, 255, 255, 0.699) 100%, rgba(255, 255, 255, 0.664) 100%);
    background: linear-gradient(70deg, rgba(255, 255, 255, 0.699) 100%, rgba(255, 255, 255, 0.664) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#FFFFFF",GradientType=1);
    background-size: cover;
}

.device-download{
    background: url("../assets/device-download.svg");
    background-repeat: repeat;
    background-size: contain;
    height: 60vh
}

.device-space{
    padding: 150px 0px;
}

.device{
    background: url("../assets/uduX-Motif-Pattern.jpg");
    background-repeat: repeat;
    background-size: contain;
    height: 70vh
}

.cp-signup-content{
    z-index: 3;
    padding: 100px 0px;
}

.cp-form{
    background-color: #F8F8F8;
    box-shadow: 2px 2px 80px rgba(11, 7, 16, 0.199);
    padding: 50px 70px;
    z-index: 1000;
}

.cp-form .form-control{
    background-color: #DDDDDD;
    color: #2B2A2A;
    width: 100%;
    padding: 0.6rem;
    font-size: 0.9em;
    border: solid 0.5px #FFFFFF;
    border-radius: 3spx;
}

.cp-form .form-control:focus{
    background-color: #F8F8F8;
    border: solid 0.5px #F8F8F8;
    border-radius: 5px;
    box-shadow: none;
}

.empty-section{
    background-color: #FFFFFF;
    height: 30vh;
}

.cp-btn{
    background-color: #FDB913;
    color: #06030A;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    right: 0;
    font-size: 12px;
    padding: 10px 50px;
}

.cp-btn:hover{
    color: #FFFFFF;
    background-color: #ED1651;
}

.white-bg{
    background-color: #FFFFFF;
}

.space-title{
    padding: 20px 0px;
}

.join-2{
    padding: 50px 0px;
}

.have-question{
    background-color: #FAFAFA;
    padding: 100px 0px;
}

.trial-btn3:hover{
    background-color: #ED1651;
    color: #FFFFFF;
    border: solid 1px #ED1651;
}
.trial-btn-p{
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    border: solid 1px #707070;
    border-radius: 0;
    margin-top: 20px;
    right: 0;
    font-size: 12px;
    padding: 10px 40px;
    cursor: pointer;
    /* width: 430px; */
}

.trial-btn-p:hover{
    background-color: #f1aa18;
    color: #FFFFFF;
    border: solid 1px #f1aa18;
}

.trial-btn4{
    background-color: #FFFFFF;
    color: #06030A;
    text-transform: uppercase;
    font-weight: lighter;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    margin-top: 40px;
    right: 0;
    font-size: 12px;
    padding: 15px;
    width: 100%
}

.trial-btn4:hover{
    color: #FFFFFF;
    background-color: #06030A;
    border: solid 1px #06030A;
}


.trial-btn5{
    background-color: transparent;
    color: #FFA700;
    text-transform: uppercase;
    font-weight: lighter;
    border: solid 1px #FFA700;
    border-radius: 5px;
    margin-top: 10px;
    right: 0;
    font-size: 12px;
    padding: 15px;
    width: 80%
}

.trial-btn5:hover{
    background-color: #FFA700;
    color: #06030A;
}

.udux{
    font-size: 56px;
    color: #FFFFFF;
    font-family: 'Bw Modelica SS02 Bold';
}

.everyone{
    color: #FFA700;
    font-size: 82px;
}

.button-width{
    width: 400px;
}

.download-side-a{
    display: block;
    float: left;
    /* margin-top: 150px;
    margin-left: 20%; */
}

.download-side-b{
    display: block;
    float: right;
    margin-right: 20%;
    margin-top: 300px;
    color: #FFFFFF;
}

.form-container{
    color: #FFFFFF;
    display: block;
    float: left;
    margin-top: 125px;
    margin-left: 150px;
    text-align: left;
    width: 600px;
    z-index: 3;
    position: relative;
    box-shadow: 2px 2px 80px rgba(115, 115, 116, 0.26);
    padding: 40px 80px;
}

.message-container{
    border-radius: 8px;
    background-color: #313131;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-top: 130px;
    margin-left: 150px;
    text-align: left;
    width: 523px;
    text-align: center;
    z-index: 3;
    position: relative;
}

.message-header{
    padding: 50px 0px;
    font-weight: 900;
    color: #FFA700;
    text-transform: uppercase
}

.message1{
    width: 434px;
    margin: auto;
}

.message2{
    padding: 50px;
    margin: auto;
}


.terms{
    width: 350px;
    margin: auto;
    text-align: center;
}
.submit{
    margin: auto;
    text-align: center;
}

.terms a{
    color: #FDB913;
    text-decoration: none;
}

.terms a:hover, .terms a:visited{
    color: #FDB913;
    text-decoration: none;
}



.form-button{
    background-color: #FDB913;
    color: #06030A;
    text-transform: uppercase;
    border:none;
    font-weight: lighter;
    border-radius: 30px;
    margin: 15px;
    right: 0;
    font-size: 12px;
    padding: 10px;
}
.form-button-login{
    background-color: #FDB913;
    color: #06030A;
    text-transform: uppercase;
    border:none;
    font-weight: lighter;
    border-radius: 30px;
    margin: 15px;
    right: 0;
    font-size: 12px;
    padding: 10px 40px;
}

.facebook-btn{
    background-color: #3B5998;
    color: #FFFFFF;
    text-transform: uppercase;
    border:none;
    font-weight: lighter;
    border-radius: 30px;
    margin-top: 20px;
    right: 0;
    font-size: 12px;
    padding: 10px 40px;
}

.form-control{
    background-color: #FFFFFF;
    color: #707070;
    width: 100%;
    padding: 0.6rem;
    font-size: 0.9em;
    border: solid 0.5px #707070;
    border-radius: 0px;
}

.form-control:focus{
    background-color: #F8F8F8;
    border: solid 0.5px #707070;
    border-radius: 5px;
    box-shadow: none;
}

.message-download{
    padding-bottom: 70px;
    padding-top: 10px;
}

.invitation-bg{
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
}

.invitation-logo{
    padding-top: 50px;
    margin: auto;
    z-index: 3;
    width: 52px;
}

.invitation-container{
    width: 704px;
    margin: 30px auto;
    background-color: #FFFFFF;
    border: solid 1px #D6D6D6;
    color: #101010;
    text-align: center;
    border-radius: 6;
}

.first-text{
    margin: 30px auto;
    font-size: 14px;
}

.verify-email{
    font-weight: bolder;
    font-size: 14px;
}

hr{
    border: solid 0.5px #E3E3E3;
    width: 586.9px;
    margin: 10px auto;
}

@media (min-width: 319px) and (max-width: 781px) {

    body{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        background: rgb(0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .slider-image{
        height: 70vh;
        width: fit-content !important;
    }
    .carousel-caption{
        position: absolute;
        top: 120px;
        left: 13%;
        width: 289px;
        text-align: right;
    }
    .section-slider{
        height: 70vh;
    }
    .navbar-toggler{
        color: #FDB913;
    }
    .logo{
        margin-left:5px;
    }
    .partners-img img{
        width: 50%;
        margin: 10px auto;
    }
    .navbar-nav {
        flex-direction: column;
        background: #000000;
    }
    .carousel-indicators{
        display: none;
    }
    
    .african-content{
        position: absolute;
        top: 300px;
        left: 15%;
        width: 289px;
        text-align: right;
    }

    .page-title{
        margin: 100px auto;
        width: 289px;
        text-align: center;
    }
    
    .page-title-text{
        font-size: 30px;
        line-height: 0.9;
        font-family: 'Montserrat';
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .card-body{
        display: flex;
        flex-direction: column;
    }

    .africa-music {
        font-size: 71px;
        line-height: 0.8;
        letter-spacing: 3.5px;
        font-family: 'Bw Modelica SS02 Bold';
    }

    .premium-container{
        display: block;
        margin: auto;
        left: auto;
        position: relative;
        width: 289px;
        height: auto;
        text-align: center;
    top: 200px;
    right: 0%;
    }

    .magical-text{
        width: auto;
        text-align: center;
    }

    .discover-text{
        width: auto;
        text-align: center;
    }

    .top-hot-text{
        width: auto;
        padding-top: 100px;
        margin: auto;
        font-size: 16px;
    }

    .amount {
        padding-top: 150px;
        font-size: 35px;
        font-weight: bolder;
    }

    .lift-up{
        padding: 10px;
    }

    .so-much-section{
        background-color: #FFFFFF;
    }

    .section-go-down{
        display: none;
    }
    
    .african-content-text{
        font-size: 30px;
        line-height: 0.9;
    }
    .carousel{
        height: 476px;
    }

    .carousel-inner{
        height: 70vh;
    }

    .navbar-toggler{
        background-color: transparent;
    }
    .navbar-toggler span{
        color: #FDB913;
        background-color: transparent;
    }
    .terms{
        width: auto;
        margin: auto;
        text-align: center;
    }
    .alpha{
        /* background: url('../assets/background_mobile.png'); */
        background-size: cover;
        background-position-x: center;
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 93vh;
        z-index: 10;
        background: rgb(11,7,16);
    background: -moz-linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
    background: -webkit-linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
    background: linear-gradient(337deg, rgba(11,7,16,0.8057598039215687) 43%, rgba(11,7,16,0.2091211484593838) 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0710",endColorstr="#0b0710",GradientType=1);
    background-size: cover;
    }

    .signup-overlay {
        position: absolute;
        width: 100%;
        height: 122vh;
        z-index: 1;
        background: rgb(0,0,0);
    background: -moz-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
    background: -webkit-linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
    background: linear-gradient(70deg, rgba(0,0,0,0.9318102240896359) 49%, rgba(0,0,0,0.1390931372549019) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    background-size: cover;
    }

    .yellow-bg{
        background: url('../assets/yellow_card.png');
        width: 367px;
        background-position: center center;
        padding: 30px auto;
        border-radius: 13px;
    }
    
    .pink-bg{
        background: #ff004c;
        height: 100vh;
        margin: 30px auto;
        width: 367px;
        border-radius: 13px;
        padding: 5px !important;
    }
    .skate-text{
        z-index: 25;
        float: left;
        width: 227px;
        margin: auto;
        padding: 0;
    }

    .music-skate{
        padding-right: 15%;
        z-index: 25;
        width: 300px;
        height: 482px;
    }

    .artist-overlay{
        position: absolute;
        width: 100%;
        height: 33.1vh;
        background: rgb(236,21,80);
    background: -moz-linear-gradient(105deg, rgba(236,21,80,1) 40%, rgba(245,81,67,0.458420868347339) 76%);
    background: -webkit-linear-gradient(105deg, rgba(236,21,80,1) 50%, rgba(245,81,67,0.458420868347339) 76%);
    background: linear-gradient(105deg, rgba(236,21,80,1) 40%, rgba(245,81,67,0.458420868347339) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec1550",endColorstr="#f55143",GradientType=1);
    }

    .music-freedom-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        color: #FFFFFF;
    }

    .cp-signup-content{
        padding: 50px 0px;
    }

    .empty-section{
        height: 80vh;
    }

    .skateboard-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 14px;
    }

    .music-freedom{
        margin-top: 10px;
        /* padding-left: 15%; */
        z-index: 25;
        width: 300px;
        height: 300px;
        float: none;
    }

    .artist-text{
        margin: -80px 0px;
    }

    .work-text{
        width: 300px;
        text-align: center;
        margin-top: -95px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .music-freedom-text{
        padding-top: 40px;
        z-index: 25;
        color: #FFFFFF;
        width: 200px;
        float: none;
    }
    
    .other-text{
        width: 288px;
        text-align: center;
    }

    .africa{
        font-size: 70px;
        line-height: 0.8;
        /* font-family: 'Bw Modelica SS02 Light'; */
        font-style: italic;
    }
    
    .africa-in{
        text-indent: 10px;
    }
    .trial-btn2{
        margin-top: 30px;
    }
    
    .for-love-container h1{
        font-size: 20px;
    }
    .for-love-container{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    footer{
        /* background-color: #06030A; */
        color: #FFFFFF;
        height: 100%;
    }
    
    .footer-container{
        padding-top: 20px;
        padding-left: 30px; 
    }
    
    .footer-links{
        margin-top: 20px;
        display: block;
        font-size: 10px;
        color: #FFFFFF;
        text-decoration: none;
        line-height: 2.5;
        font-weight: lighter;
    }
    
    .legal-stuffs{
        margin: auto;
        text-align: center;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 10px;
        bottom: 10px;
    }
    .legal-stuffs a{
        color: #95989A;
        margin-right: 20px;
        opacity: 0.6;
    }
    
    .copy-right{
        color: #95989A;
        text-align: center;
        margin: 35px 32% 25px 20%;
        opacity: 0.6;
    }

    

    .mobile1-container{
        color: #FFFFFF;
        text-align: center;
        width: 349px;
        z-index: 3;
        position: absolute;
        margin: auto;
        top: 250px;
        right: 10px;
        left: 10px;
        bottom: 0;
        height: 100px;
    }

    .playlist-container{
        color: #FFFFFF;
        text-align: center;
        width: 349px;
        z-index: 3;
        position: absolute;
        margin: auto;
        right: 10px;
        left: 10px;
        top: 200px;
        bottom: 0;
        height: 100px;
    }
    .exclusive-container{
        color: #FFFFFF;
        text-align: center;
        width: 349px;
        z-index: 3;
        position: absolute;
        margin: auto;
        right: 10px;
        left: 10px;
        top: 55px;
        bottom: 0;
        height: 100%;
    }
    
    .playlist-text{
        width: 227px;
    }
    .exclusive-text{
        width: 227px;
        float: none;
    }

    .invitation-logo{
        padding-top: 30px;
        margin: auto;
        z-index: 3;
        width: 50px;
    }

    .playlist-container h1{
        font-size: 28px;
        text-align: center;
    }

    .mobile1-container h1{
        font-size: 28px;
    }
    
    .mobile1-text{
        font-size: 17px!important;
        line-height: 2;
        margin: 40px auto 20px auto;
        font-weight: lighter;
    }
    
    .trial-btn3{
        background-color: transparent;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: lighter;
        border: solid 1px #FFFFFF;
        border-radius: 0;
        margin-top: 40px;
        right: 0;
        font-size: 12px;
        padding: 15px;
        width: auto;
    }

    .section-playist{
        background: url('../assets/playlist.jpeg');
        background-size: cover;
        background-position: right;
        min-height: 65vh;
        margin-top: 10px;
        margin-top:0px;
    }
    
    .section-exclusive{
        background: url('../assets/exclusive-bg.jpg');
        background-size: cover;
        background-position: center;
        height: 65vh;
        margin-top: 0px;
        position: relative;
    }

    .premium-alpha{
        /* background: url('../assets/udux-photoshoot.jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 83vh;
    }

    .download-text-container{
        text-align: center;
    }

    #preview-screenshot{
        display: none;
    }
    .download-side-b{
        display: none;
    }

    .navbar .divider-vertical {
        height: 1px;
        width: 125%;
        margin: 0 9px;
        border: 1px solid #ED1651;
    }

    .section-download{
        background: url('../assets/download-back.png');
        background-size: cover;
        margin-top: 0px;
        position: relative;
        padding: 10% 10%;
    }
    .invitation-logo{
        margin: 10px auto 10px auto;
        z-index: 3;
        width: 52px;
    }

    .download-link-container{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .download-text{
        margin-top: 30px;
        font-size: 21px;
        text-align: center;
        color: #FFFFFF;
    }
    .download-logo {
        margin-top: 500px;
        color: #FFFFFF;
    }

    .download-side-a {
        margin: 10px 0px 10px 60px;
        width: 290px;
    }

    .form-container{
            /* color: #FFFFFF; */
    display: block;
    float: left;
    margin: 45px auto;
    width: 100%;
    z-index: 3;
    position: relative;
    }

    .sign-in-back{
        background: url('../assets/login_bg.jpeg');
        background-size: cover;
        height: 93vh;
        border: none;
        background-position: right;
    }
    .sign-up-back{
        background: url('../assets/login_bg.jpeg');
        background-size: cover;
        height: 122vh;
        border: none;
        background-position: right;
    }

    .message-container{
        border-radius: 8px;
        background-color: #313131;
        color: #FFFFFF;
        display: block;
        float: left;
        margin-top: 45px;
        margin-left: 10px;
        text-align: left;
        width: 390px;
        text-align: center;
        z-index: 3;
        position: relative;
    }
    
    .message-header{
        padding: 30px 10px;
        font-weight: 300;
        color: #FFA700;
        text-transform: uppercase
    }
    
    .message1{
        width: 434px;
        margin: auto;
    }
    
    .message2{
        padding: 50px;
        margin: auto;
    }
    .message3{
        padding: 30px;
        margin: auto;
    }

    .udux{
        margin-top: 30px;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
    }
    
    .everyone{
        color: #FFA700;
        font-size: 48px;
        text-align: center;
    }

    .device-download{
        background: #FFFFFF;
        background-repeat: repeat;
        background-size: contain;
        height: 60vh
    }
    .gtLogo{
        width: 35% !important;
    }

    .coreValueSpace{
        padding-top: 0px !important;
        padding-bottom: 0 !important;
    }
}